---
layout: default
---

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <h1><strong>Hangchow Christian College (之江大学) Archival Photo Gallery</strong> by David Chen (<a href="https://www.davidchen.cf">davidchen.cf</a>)</h1>
        <nav>
            <ul>
                <li><a href="#footer" class="icon fa-info-circle">About</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <div id="main">
        {% for image in site.static_files %}
        {% if image.path contains 'fulls' %}
        <article class="thumb">
            <a href="{{ site.baseurl }}{{ site.image_fulls_loc }}/{{ image.name }}" class="image">
                <img src="{{ site.baseurl }}{{ site.image_thumbs_loc }}/{{ image.name }}" alt=""
                     data-name="{{ image.name }}"/></a>
            <!--<h2></h2>
            <p></p>-->
        </article>
        {% endif %}
        {% endfor %}
    </div>

    <!-- Footer -->
    <footer id="footer" class="panel">
        <div class="inner split">
            <div>
                <section>
                    <h2>Hey there, my name is David</h2>
                    <p>Hello! I’m David Chen, thanks for visiting. I'm currently a student at the University of Illinois at Urbana-Champaign majoring in Computer Engineering. I have over 10 years of experience specializing in full stack web development, computer repair, and IT. I'm also an Eagle Scout, avid photographer, and amateur radio operator.</p>
                    <p>On this page are 157 pictures from 1917-1950 of Hangchow Christian College. More information can be found on the original site <a href="http://findit.library.yale.edu/?utf8=%E2%9C%93&f%5Bcreator_sim%5D%5B%5D=United+Board+for+Christian+Higher+Education+in+Asia&f%5Bdigital_collection_sim%5D%5B%5D=Divinity+Library+Photographs&search_field=all_fields&q=hangchow">here</a>. Additional archives can be found <a href="https://web.library.yale.edu/divinity/special-collections/ubchea/hangchow-college">here</a>.</p>
                </section>
                <p class="copyright">
                    &copy; {{ site.author }}.
                </p>
            </div>
            <div>
                <section>
                    <h2>Get in touch through email: <a href="mailto:david@davidchen.cf">david@davidchen.cf</a></h2>
                </section>
            </div>
        </div>
    </footer>
</div>